.vscode/**
.vscode-test/**
node_modules/**

extension/**
!extension/out/extension.js

webview/**
!webview/out/bundle.js
!webview/static

.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

out/test/**
src/**
examples/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/webpack.config.js
**/.babelrc
**/*.map
**/*.ts
**/*.gif
