body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--vscode-editor-background);
}

line {
  stroke: var(--vscode-editor-foreground);
  opacity: 0.5;
}

circle {
  cursor: pointer;
}

text {
  cursor: pointer;
}
circle.active,
text.active {
  cursor: pointer;
}

.bottomRightContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  cursor: default;
}

.bottomRightContainer span > span {
  color: var(--vscode-foreground);
}

.bottomRightContainer #mode-select > button {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}
.bottomRightContainer #mode-select > button.active {
  background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background);
}
.bottomRightContainer #mode-select > button:focus {
  outline: 0;
}
